@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'DM Sans', system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', system-ui, sans-serif;
}

body {
  background-color: #f8f8f8;
}

/* --- Google Translate "Nuclear" Fix --- */
.goog-te-banner-frame.skiptranslate { 
  display: none !important; 
  visibility: hidden !important; 
  height: 0 !important; 
  width: 0 !important; 
}

body { 
  top: 0px !important; 
  position: static !important; 
  margin-top: 0px !important; 
}

html { 
  margin-top: 0px !important; 
  height: 100% !important; 
}

#google_translate_element { 
  display: none !important; 
  visibility: hidden !important; 
}

body > .skiptranslate { 
  display: none !important; 
}

.goog-text-highlight { 
  background-color: transparent !important; 
  box-shadow: none !important; 
  border: none !important; 
}

.goog-tooltip { 
  display: none !important; 
}
.goog-tooltip:hover { 
  display: none !important; 
}
